* {
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  background: whitesmoke;
  color: black;
}
.main{
  padding: 50px;
}
.row1 {
  display: flex;
  gap: 50px;
}
.card1 {
  width: 450px;
}
.card-mes {
  background: black;
  color: white;
  border-radius: 25px;
  text-align: start;
  padding: 15px;
  position: relative;
  max-width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  line-height: 2vw;
}
.card-mes::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 25px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}
.card1-img {
  width: 90px;
  height: 90px;
  object-fit: cover; /*Crops the image to fill the container*/
  border-radius: 80px;
}
.card1-person {
  display: flex;
  gap: 10px;
}
.person h3 {
  font-weight: 600;
  margin-bottom: 0;
}
.person p {
  font-size: 15px;
  margin-top: 0;
}
.card2 {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 340px;
  height: 240px;
}
.card3 {
  margin: 20px;
  display: flex;
  gap: 30px;
}
.card3-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.card3-message {
  background: black;
  color: white;
  padding: 20px;
  border-radius: 25px;
}
.card3 h3{
  margin-bottom: 0;
}
.grey {
  margin-top: 0;
  color: grey;
}
.star {
  color: gold;
  cursor: default;
  font-size: 25px;
  transition: transform 0.2s ease;
}
.star:hover {
  transform: scale(1.2);
}
/* .star.active{
  color: orange;
} */
.card4 {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.card4-message{
  line-height: 1.6;
  margin-bottom: 50px;
}
.card4-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.arrow{
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
}
.arrow:hover{
  transform: scale(1.2);
}
.card4-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s, border 0.3s;
  filter: blur(3px);
  opacity: 0.8;
  user-select: none;
}
.card4-img.active{
  transform: scale(1.2);
  border: 3px solid #555;
  filter: none;
  opacity: 1;
}
.card4-img:hover{
  /* filter: blur(1px); */
  transform: scale(1.1);
  opacity: 0.9;
}